html{
    font-family: YuGothic,'Yu Gothic',sans-serif;
}

body{
    margin:auto 0;
    background-color: #496C89;
}

footer{
    text-align: center;
}

footer>h6{
    font-size:0.8em;
}

h6{margin:0;}

h1{margin: 0;
    padding: 5px
}

li {
    padding:8px;
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #f5f5f6;
    text-decoration:none;
}

p {
    margin:0;
    padding:6px;
}

.title{
    border-bottom-color: #f5f5f6;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.zone {
    color:#FFF;
    font-size: 1.3em;
    /* transition: all 0.3s linear; */
}
.shadow{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.sectionB{
    margin-left: 5vw;
    margin-right: 5vw;
}

.sticky{
    position:fixed;
    top:0;
    width:100%;
    border-bottom:2px #003D1A;
}

.main-nav{
    display:flex;
    flex-flow:row;
    align-content: center;
    list-style:none;
    font-size:0.7em;
    margin:0;
    height:5vh;
}

.main-nav h1,.main-nav h2,.main-nav p{
    color:rgb(216, 216, 216);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
}

@media only screen and (max-width:600px){
    .main-nav{
        font-size:0.38em;
        padding:0;
    }
    .sectionB{
        margin:0;
    }
}
.push{
    margin-left:auto;
}

.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-color: black;
    border-bottom: 4px #042037 solid;
}
#arrowtoright, #arrowtoleft{
    height: 72px;
    width: 72px;
    opacity: 0.5;
    cursor: pointer;
}
#arrowtoright{
    margin-left:auto;
    margin-right:4px;
}

#arrowtoleft{
    margin-right:auto;
    margin-left:4px;
}

.cover{
    height: 100%;
}

.grid-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 1px;
}

.boxupperhlf > img {
    max-width: 100%;
    max-height: 100%;
}
.box{
    flex-basis: 300px;
    background-color:#042037;
    padding:30px;
    margin:20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    border-radius: 3px;
}

.boxupperhlf{
    height:72px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.boxdownerhlf>h3{
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.05em;
}


.boxdownerhlf>p{
    font-size: 0.8em;
    text-align: center;
}

.strongstyle{
    text-emphasis-style: dot;
} 




.blue2{background: #496C89}
.green2{background: #0F5B30}
