body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-position: center;
}
h1{
  color:white;
  /* display:flex;
  flex-direction: column;
  justify-content:center;
  align-content: center; */
  text-align: center;
  margin-top: 4em;
  transition: 1s;
}
button{
  margin-top: 16em;
  margin-left: 43%;
}